In [1]:
import pandas as pd
import numpy as np
from multiprocessing import Pool
from functools import partial
import Preprocess_func as func
from tqdm import tqdm_notebook as tqdm
from datetime import date, timedelta
import pickle

In [4]:
df = pd.read_csv(r'D:\Customer_Value\data\sample\st_sample_all.csv')

One Hot Encoding

In [5]:
df[['AMT_B_label', 'AMT_S_label', 'ST_ASSET_label', 'MP_ASSET_label', 'SS_ASSET_label', 'TRADE']] = df[['AMT_B_label', 'AMT_S_label', 'ST_ASSET_label', 'MP_ASSET_label', 'SS_ASSET_label', 'TRADE']].astype(int)
df = pd.get_dummies(df, columns=['AMT_B_label', 'AMT_S_label', 'ST_ASSET_label', 'MP_ASSET_label', 'SS_ASSET_label', 'TRADE'], prefix=['AMT_B', 'AMT_S', 'ST_ASSET', 'MP_ASSET', 'SS_ASSET', 'TRADE'])

In [6]:
for i in range(1, 11):
    for col in ['ST_ASSET', 'MP_ASSET', 'SS_ASSET']:
        if f'{col}_{-1 * i}' not in df.columns:
            df[f'{col}_{-1 * i}'] = 0

Transfer Data to Local Training

In [11]:
df_list = [group[1] for group in df.groupby(df['sample_no'])]
train = []
val = []
test = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.transfer_data, train_date='2018-11-01', val_date='2019-01-01'), df_list), total=len(df_list)), 1):
            if x[8] == 'train':
                train.append(x[:8])
            elif x[8] == 'val':
                val.append(x[:8])
            else:
                test.append(x[:8])

HBox(children=(IntProgress(value=0, max=43680), HTML(value='')))

In [10]:
df

,MTH_DATE,S_IDNO,GENDER,AGE,AMT_B,AMT_S,BIRTH_ADDRESS,LIVING_ADDRESS,LABEL_CHURN,trading_days_total_120_days,...,SS_ASSET_7,SS_ASSET_8,SS_ASSET_9,SS_ASSET_10,TRADE_0,TRADE_1,ST_ASSET_-6,MP_ASSET_-6,ST_ASSET_-8,SS_ASSET_-10
0,2015-03-10,A100053833,M,67.0,0.0,0.0,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,ACTIVE,4.0,...,0,0,0,0,1,0,0,0,0,0
1,2015-03-11,A100053833,M,67.0,0.0,0.0,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,ACTIVE,4.0,...,0,0,0,0,1,0,0,0,0,0
2,2015-03-12,A100053833,M,67.0,0.0,0.0,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,ACTIVE,4.0,...,0,0,0,0,1,0,0,0,0,0
3,2015-03-13,A100053833,M,67.0,0.0,0.0,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,ACTIVE,4.0,...,0,0,0,0,1,0,0,0,0,0
4,2015-03-16,A100053833,M,67.0,0.0,0.0,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,台北市大安區大學里１３鄰羅斯福路三段２８３巷１９弄１９號２樓,ACTIVE,4.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5241595,2017-10-23,Z200111477,F,46.0,0.0,0.0,連江縣莒光鄉青帆村４鄰８０號,新北市三重區車路頭街７號９樓,ACTIVE,5.0,...,0,0,0,0,1,0,0,0,0,0
5241596,2017-10-24,Z200111477,F,46.0,0.0,0.0,連江縣莒光鄉青帆村４鄰８０號,新北市三重區車路頭街７號９樓,ACTIVE,5.0,...,0,0,0,0,1,0,0,0,0,0
5241597,2017-10-25,Z200111477,F,46.0,0.0,0.0,連江縣莒光鄉青帆村４鄰８０號,新北市三重區車路頭街７號９樓,ACTIVE,5.0,...,0,0,0,0,1,0,0,0,0,0
5241598,2017-10-26,Z200111477,F,46.0,0.0,0.0,連江縣莒光鄉青帆村４鄰８０號,新北市三重區車路頭街７號９樓,ACTIVE,5.0,...,0,0,0,0,1,0,0,0,0,0
5241599,2017-10-27,Z200111477,F,46.0,0.0,1376450.0,連江縣莒光鄉青帆村４鄰８０號,新北市三重區車路頭街７號９樓,CHURN,6.0,...,0,0,0,0,0,1,0,0,0,0

Save Local Training Data

In [12]:
with open(r'D:\Customer_Value\data\train_local\train_v1', 'wb') as fp:
    pickle.dump(train, fp)
with open(r'D:\Customer_Value\data\train_local\val_v1', 'wb') as fp:
    pickle.dump(val, fp)
with open(r'D:\Customer_Value\data\train_local\test_v1', 'wb') as fp:
    pickle.dump(test, fp)

Transfer Data to Google Training

In [3]:
df_list = [group[1] for group in df.groupby(df['sample_no'])]
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.transfer_google_feature, df_list), total=len(df_list)), 1):
            output_list.append(x)
            
df = pd.concat(output_list, axis=0)

HBox(children=(IntProgress(value=0, max=43318), HTML(value='')))

In [3]:
df_list = [group[1] for group in df.groupby(df['sample_no'])]
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.transfer_google, df_list), total=len(df_list)), 1):
            output_list.append(x)
            
df = pd.concat(output_list, axis=0)

HBox(children=(IntProgress(value=0, max=43318), HTML(value='')))

In [4]:
df['GENDER'] = df['GENDER'].apply(lambda x: 1 if x == 'M' else 0)
df['LABEL_CHURN'] = df['LABEL_CHURN'].apply(lambda x: 1 if x == 'CHURN' else 0)

In [6]:
train = df[df.MTH_DATE <= '20180601']
test = df[df.MTH_DATE > '20180601']

In [6]:
print(len(train))
print(len(test))

42277
1041

Save Data

In [8]:
train.to_csv(r'D:\Customer_Value\data\train_google\train_feature.csv', index=False)
test.to_csv(r'D:\Customer_Value\data\train_google\test_feature.csv', index=False)

In [7]:
train

,GENDER,AGE,LABEL_CHURN,sample_no,MTH_DATE,AMT_B,AMT_S,AMT_diff,ST_ASSET,MP_ASSET,...,AMT_S_total_day120,AMT_S_total_day120_diff,AMT_diff_total_day120,AMT_diff_total_day120_diff,ST_ASSET_total_day120,ST_ASSET_total_day120_diff,MP_ASSET_total_day120,MP_ASSET_total_day120_diff,SS_ASSET_total_day120,SS_ASSET_total_day120_diff
119,1,67,0,A100000136_1,2017-02-24,223500,369500,-146000,1.20685e+06,48000,...,1.3145e+06,344550,-439750,-142500,1.27047e+07,519300,1.2205e+06,-258700,0,0
119,1,67,0,A100000136_0,2016-03-10,0,84300,-84300,1.55339e+06,42750,...,681800,-3840,-204100,-168590,1.56006e+07,1.51722e+06,671600,-593710,0,0
119,1,70,0,A100020076_0,2015-10-16,0,107500,-107500,3.9721e+06,0,...,500550,500550,-398550,-764250,3.97009e+07,2.35188e+06,0,0,0,0
119,1,70,0,A100020076_1,2016-07-01,240000,0,240000,1.77338e+07,0,...,0,0,493500,261000,1.82779e+08,-6.27192e+06,0,0,0,0
119,1,82,1,A100027173_0,2018-07-26,140000,209000,-69000,1.58864e+06,0,...,209000,209000,-69000,-69000,1.63137e+07,118714,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,0,50,0,Z200098406_0,2017-11-17,7320,0,7320,145060,0,...,0,-13110,7320,20430,1.18105e+06,-5120,0,0,0,0
119,0,48,1,Z200106065_0,2016-10-13,93450,0,93450,274050,0,...,0,0,93450,93450,2.10705e+06,-14550,0,0,0,0
119,0,46,0,Z200123324_0,2018-07-17,82600,0,82600,3.6669e+06,0,...,0,-198650,192100,-65400,3.4967e+07,830713,0,0,0,0
119,0,46,1,Z200111477_0,2017-10-27,0,1.37645e+06,-1.37645e+06,0,0,...,1.37645e+06,1.37645e+06,-1.37645e+06,-1.37645e+06,0,0,4.27e+06,-380000,0,0
119,0,65,1,Z200136661_0,2015-09-16,0,29260,-29260,1.68049e+06,0,...,398290,-375570,-398290,375570,1.85341e+07,-3.86593e+06,0,0,0,0